OPENGAUSS_HOST=opengauss
OPENGAUSS_PORT=5432
OPENGAUSS_DATABASE=postgres
OPENGAUSS_USER=appuser
OPENGAUSS_PASSWORD=AppUser@123

SPARK_MASTER_URL=spark://spark-master:7077
SPARK_SUBMIT_BIN=/usr/local/bin/spark-submit
SPARK_JDBC_DRIVER_JAR=/opt/jdbc/opengauss-jdbc.jar
SPARK_JDBC_DRIVER_CLASS=org.postgresql.Driver
SPARK_SUBMIT_TIMEOUT_SECONDS=240

BACKEND_PORT=8000
FRONTEND_PORT=8080
